.ListItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-height: 50px; 
    cursor: pointer;
}
.ListItem:hover{
    background-color: rgba(128, 128, 128, .3);
}
.ListItem.done .ListItem_name{

    text-decoration:line-through;
}
.ListItem_id{
    margin: 0 10px 0 0;
}
.ListItem_done{}
.ListItem_name{}